from pyscaffold.api import Extension


class ${extension_class_name}(Extension):
    """
    This class serves as the skeleton for your
    new Pyscaffold Extension. Refer to the official
    documentation to discover how to implement a
    PyScaffold Extension.
    (https://pyscaffold.org/en/latest/extensions.html)
    """

    def activate(self, actions):
        return actions
